---
import '../../../styles/global.css';
import ProjDisplay from './ProjDisplay.astro';
import { experiences } from '../../../data/home/experiences';
---

<div id="experiences" class="md:pt-32 pt-16 flex flex-col md:gap-8 gap-4 md:scroll-mt-0 scroll-mt-2">
  <h1 class="text-heading">experiences</h1>
  <div class="flex flex-col md:gap-10 gap-8">
    {experiences.map(exp => (
      <ProjDisplay project = {exp}/>
    ))}
  </div>
</div>
