---
import '../../../styles/global.css';
import ProjDisplay from './ProjDisplay.astro';
import { projects } from '../../../data/home/projects';
import { Icon } from 'astro-icon/components';

const initialProj = projects.slice(0, 3); 
const finalProj = projects.slice(3);
---

<div id="projects" class="md:pd-16 pd-8 flex flex-col md:gap-8 gap-4 md:scroll-mt-24 scroll-mt-18">
  <h1 class="text-heading">projects</h1>
  <div class="flex flex-col md:gap-10 gap-8">
    <div class="flex flex-col md:gap-10 gap-8">
      {initialProj.map((project) => (
        <ProjDisplay project = {project}/>
      ))}
    </div>
    <div class="flex flex-col-reverse items-center">
      <input class="hidden" type="checkbox" id="collapsible">
      <label for="collapsible" class="flex flex-row gap-1 items-center justify-center cursor-pointer md:w-48 w-40 px-8 py-4 pt-3 border-b border-r border-l border-neutral-500 rounded-b-[95%]">
        <span class="more">see more</span>
        <span class="less">see less</span>
        <Icon class="arrow-down" name="line-md:chevron-small-double-down"/>
      </label>
      <div class="seperator text-subcaption text-center px-8 md:pb-10 pb-6 border-b border-b-neutral-500 w-full rounded-b-full scale-x-115">*solid badges - core techs; outlined badges - secondary techs; white badges - techs with my minimal involvement</div>
      <div class="collapsible flex flex-col md:gap-10 gap-8">
        {finalProj.map((project) => (
        <ProjDisplay project = {project}/>
        ))}
      </div>
    </div>
  </div>
</div>

<style>
  @reference 'tailwindcss';

  .collapsible {
    opacity: 1;
    position: relative;
    display: none;
    transition: opacity 0.75s ease, display 0.75s ease allow-discrete;
  }

  @starting-style {
    .collapsible {
      opacity: 0;
    }
  }

  input[type=checkbox]:checked {
    + label {
      + div + .collapsible {
        display: flex;
      }

      + .seperator {
        @apply md:mt-10 mt-8;
      }

      > .arrow-down {
        transform: rotate(180deg);
      }

      > .less {
        opacity: 1;
        width: w-max;
      }

      > .more {
        opacity: 0;
        width: 0;
      }
    }
  } 

  input[type=checkbox]:not(:checked) + label {
    > .less {
      opacity: 0;
      width: 0;
    }

    > .more {
      opacity: 1;
      width: w-max;
    }
  }

  .arrow-down {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
</style>
