@import 'tailwindcss';
@import './theme.css';

html, body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: clip;
  background-color: var(--color-neutral-950);
  color: white;
  scroll-behavior: smooth;
  font-family: var(--font-sans);
}

@layer components {
  .text-title {
    @apply lg:text-6xl md:text-4xl text-2xl;
    @apply font-bold text-left;
  }

  .text-heading {
    @apply lg:text-4xl/10 md:text-3xl/9 text-2xl/7;
    @apply text-primary-200;
    @apply font-bold text-left;
    @apply w-fit;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, var(--color-primary-400), var(--color-primary-300));
    border-image-slice: 1;
  }

  .text-subheading {
    @apply lg:text-2xl md:text-xl text-lg;
    @apply font-semibold text-left; 
  }

  .text-body {
    @apply lg:text-xl md:text-lg text-base;
    @apply text-justify;
  }

  .text-caption {
    @apply lg:text-lg md:text-base text-sm;
    @apply tracking-widest;
    @apply italic text-left;
  }

  .text-subcaption {
    @apply lg:text-base md:text-sm text-xs;
    @apply tracking-widest;
    @apply italic text-left;
  }

  .text-link {
    @apply text-white hover:text-primary-300;
    @apply lg:text-xl md:text-lg text-base text-left;
    transition: color ease 0.3s;
  }
}
