---
import { Font } from 'astro:assets';
---
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />

  <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <meta name="generator" content={Astro.generator} />
  <title>Aniruddha Upadhya K</title>
  <meta name="description" content="welcome there, i'm aniruddha, a software engineer passionate about... um... pretty much anything in general, especially understanding how things work the way they do. a linux and open source tools enthusiast">
  <meta property="og:title" content="aniruddha upadhya k - official portfolio site" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://aniupadhya.com">
  <meta property="og:image" content="https://aniupadhya.com/fav/android-chrome-512x512.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:height" content="512" />
  <meta property="og:image:width" content="512" />
  <meta property="og:image:alt" content="Aniruddha" />
  <meta property="og:description" content="hi, i’m aniruddha - a software engineer and open source geek passionate about understanding how things work. check out my portfolio to see my latest projects, experiments, and what I’m learning next.">

  <Font cssVariable="--font-overpass" preload />
  <Font cssVariable="--font-hack" preload />
</head>
