---
import '../styles/blog.css';
import { getCollection } from 'astro:content';
import BlogLayout from "../layouts/BlogLayout.astro"

const blogs = await getCollection('blogs');
---

<BlogLayout title="blogs | aniruddha" desc="list of all the blogs i wrote">
  <h1>my blogs</h1>
  <ul>
    {blogs.map(blog => (
      <a href={`/blog/${blog.id}`}>
        <li class="text-subheading">{blog.data.title}</li>
      </a>
    ))}
  </ul>
</BlogLayout>
