---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/home/HomeNavbar.astro'
import Hero from '../components/home/Hero.astro';
import About from '../components/home/About.astro';
import Experience from '../components/home/projects/Experiences.astro';
import Education from '../components/home/Education.astro';
import Projects from '../components/home/projects/Projects.astro';
import Skills from '../components/home/skills/Skills.astro';
import Footer from '../components/Footer.astro'
---

<Layout>
  <>
    <Navbar />
    <Hero />
    <About />
    <div class="relative z-10 bg-neutral-950 md:pt-16 pt-20 flex flex-col md:gap-32 gap-16">
      <div class="absolute -z-10 md:-top-16 -top-20 left-1/2 -translate-x-1/2 h-full w-[100vw] bg-neutral-950"></div>
      <Experience />
      <Education />
      <Projects />
      <Skills />
      <Footer />
    </div>
  </>
</Layout>
