---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/HomeNavbar.astro'
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experiences.astro';
import Projects from '../components/Projects.astro';
---

<Layout>
  <>
    <Navbar />
    <Hero />
    <About />
    <div class="relative z-10 bg-neutral-950 md:pt-16 pt-20">
      <Experience />
      <Projects />
    </div>
  </>
</Layout>
