---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/HomeNavbar.astro'
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experiences.astro';
import Education from '../components/Education.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
---

<Layout>
  <>
    <Navbar />
    <Hero />
    <About />
    <div class="relative z-10 bg-neutral-950 md:pt-16 pt-20 flex flex-col md:gap-32 gap-16">
      <div class="absolute -z-10 left-0 scale-x-150 h-full w-[100vw] bg-neutral-950"></div>
      <Experience />
      <Education />
      <Projects />
      <Skills />
    </div>
  </>
</Layout>
