---
import "../../styles/global.css";
import { contacts } from "../../data/home/contacts";
import { Icon } from 'astro-icon/components';
---

<div class="w-full h-[100vh] flex items-center sticky top-0 z-0">
  <div class="w-full flex flex-col px-2 gap-4">
    <div class="w-full md:whitespace-nowrap text-outline text-huge tracking-widest text-center">hello there,</div>
    <div class="w-full flex md:flex-row flex-col justify-center items-center xl:gap-12 md:gap-8 gap-4">
      <div class="text-neutral-400/75 text-vertical text-center text-shadow-xl">it's me,</div>
      <div class="md:w-min text-primary-400/80 text-huge text-wrap text-center text-shadow-xl">aniruddha upadhya k</div>
    </div>
  </div>
  <div class="absolute md:block hidden bottom-24 lg:right-16 md:right-8 rounded-full overflow-clip">
    <input type="checkbox" id="contacts" class="absolute w-8 h-8 right-0 top-1/2 -translate-y-1/2 -translate-x-1/4">
    <div class="contacts p-0.5 flex rounded-full bg-gradient-to-br from-primary-400 to-primary-300">
      <div class="flex flex-row gap-4 py-2 px-4 pr-14 rounded-full bg-neutral-950">
        {contacts.map(contact => {
        return contact.name == "mail" ? (
        <a target="_blank" href={`mailto:${contact.url}`} class="text-link">
          <Icon name="mdi:email" class="text-primary-300 text-3xl"/>
        </a>
        ) : (
        <a target="_blank" href={contact.url} class="text-link text-primary-300 text-3xl">
          {contact.name == "linkedin" && <Icon name="mdi:linkedin"/>}
          {contact.name == "github" && <Icon name="mdi:github"/>}
          {contact.name == "twitter" && <Icon name="mdi:twitter"/>}
          {contact.name == "resume" && <Icon name="mdi:resume"/>}
        </a>
        )})}
      </div>
    </div>
    <label for="contacts" class="block absolute top-1/2 -translate-y-1/2 right-0 p-4 duration-300 bg-gradient-to-br from-primary-400 to-primary-300 rounded-full w-min cursor-pointer">
      <Icon name="line-md:chevron-left" class="text-link pointer-events-none transition-transform">
    </label>
  </div>
</div>

<style>
  @reference "tailwindcss";

  .text-outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: oklch(0.65 0 0);
  }

  .text-vertical {
    @apply font-bold;
    @apply md:text-7xl sm:text-4xl text-2xl;
  }

  .text-shadow-xl {
    text-shadow: 0px 2px 4px rgb(0 0 0), 0px 3px 2px rgb(0 0 0), 0px 4px 8px rgb(0 0 0);
  }

  .text-huge {
    @apply xl:text-[9rem]/32 md:text-9xl sm:text-7xl text-5xl;
    @apply font-extrabold;
    @apply lg:tracking-wide tracking-normal;
  }

  @media (width >= 48rem) {
    .text-outline {
      -webkit-text-stroke-width: 2px;
    }

    .text-vertical {
      text-orientation: mixed;
      writing-mode: vertical-lr;
    }
  }

  @media (width >= 64rem) {
    .text-outline {
      -webkit-text-stroke-width: 3px;
    }
  }

  .contacts {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }

  #contacts:checked {
    + .contacts {
      transform: scaleX(1);
    }

    + .contacts + label > *{
      transform: rotate(180deg);
    }
  }
</style>
