---
import '../styles/global.css';
---

<div id="aboutme" class="relative z-20 flex items-center md:py-24 py-8 bg-gradient-to-b from-neutral-950/75 from-10% to-neutral-950/100 backdrop-blur-xs">
  <div class="absolute w-[100vw] left-1/2 -translate-x-1/2 md:h-16 h-20 bottom-full border-t border-neutral-500 rounded-t-full bg-neutral-950/75 backdrop-blur-xs">
    <div class="h-1 md:w-24 w-16 absolute md:top-8 top-6 left-1/2 -translate-x-1/2 border-t border-neutral-500"></div>
  </div>

  <div class="flex flex-col md:gap-8 gap-4 text-justify">
    <h1 class="text-heading">about me</h1>
    <div class="flex flex-col md:gap-3 gap-2">
      <p>nothing much interesting, but a typical nerd, one of those people who can talk for hours about operating systems, programming languages, or the latest thing in quantum physics. if it's nerdy, there's a good chance i'm into it.</p>
      <p>coding is a big part of my life, and you'll usually find me deep into a neovim-tmux session, probably tweaking my setup on a linux distro (i use nix, btw). i started out in web development -mostly frontend - as typical vs c*de dev, but eventually made the jump to the all-day-vim lifestyle, and i haven’t looked back since.</p>
      <p>i went from being a javaScript lover to... well, not a hater, but let’s just say we’ve grown apart (not for the usual reasons - just got bored). these days, i’m more interested in the lower levels: how systems work, how tools are built, and why things behave the way they do.</p>
      <p>beyond tech, i’m always up for a good movie, a new music recommendation, or a deep-dive discussion about how everything in the universe works. basically, if you’ve got curiosity, we’ll get along just fine.</p>
    </div>
  </div>

  <div class="absolute w-[100vw] left-1/2 -translate-x-1/2 md:h-16 h-20 top-full border-b border-neutral-500 rounded-b-full backdrop-blur-xs">
    <!-- <div class="h-1 md:w-24 w-16 absolute md:top-8 top-6 left-1/2 -translate-x-1/2 border-t border-neutral-500"></div> -->
  </div>
</div>
