---
import '../styles/global.css';
import { Font } from 'astro:assets';
---
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="generator" content={Astro.generator} />
  <title>Aniruddha Upadhya K</title>
  <meta name="description" content="Welcome there, I'm Aniruddha, a software engineer passionate about... um... pretty much anything in general, especially understanding how things work the way they do. A linux and open source tools enthusiast">
  <Font cssVariable="--font-overpass" preload />
  <!-- <Font cssVariable="--font-hack" preload /> -->
</head>
