---
import '../styles/global.css';
import type { Skills } from '../data/type';
import { skills } from '../data/skills';
import SkillNode from './SkillNode.astro';
---

<div id="skills" class="flex flex-col md:gap-8 gap-4 md:scroll-mt-24 scroll-mt-16">
  <h1 class="text-heading">Skills</h1>
  <div class="flex flex-col md:gap-4 gap-2 bg-neutral-900 rounded-3xl sm:p-8 sm:py-8 p-2 py-4 font-mono">
    <p class="lg:text-2xl md:text-xl text-base font-semibold text-primary-300"><span class="text-primary-400 pr-2">nix@ani ></span>tree <span class="text-primary-200">~/skills/</span></p>
    <SkillNode skill={skills}/>
  </div>
  <p class="text-subcaption text-white">*for non-developers out there, skills/tools are grouped by usage context and file names use underscores, not slashes, for terminal authenticity.</p>
</div>

