---
import '../../styles/theme.css'
import Badge from '../ui/Badge.astro'
---

<nav class="flex justify-between items-center md:p-4 p-2 border-b-neutral-500 border-b">
  <a href="/" class="text-white hover:text-primary-300 transition-colors duration-300">aniruddha</a>
  <a href="/blogs">
    <Badge type="default">
      <span class="text-white">blogs</span>
    </Badge>
  </a>
</nav>
