---
import "../styles/theme.css";
import BlogHead from "../components/head/BlogHead.astro";
import BlogNavbar from "../components/blog/BlogNavbar.astro"
import Footer from "../components/Footer.astro";

type Prop = {
  title: string,
  desc: string
}
const { title, desc } = Astro.props as Prop;
---

<!doctype html>
<html lang="en">
  <BlogHead title={title} desc={desc} />
	<body class="text-body flex flex-col">
    <main class="max-w-6xl w-full h-full flex-1 mx-auto mb-12 relative lg:px-24 md:px-8 px-4">
      <BlogNavbar />
      <slot />
    </main>
    <Footer />
	</body>
</html>
