---
import { Font } from 'astro:assets';
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Aniruddha Upadhya K</title>
    <Font cssVariable="--font-overpass" preload />
    <Font cssVariable="--font-hack" preload />
	</head>
	<body class="text-body">
    <div class="max-w-7xl mx-auto relative lg:px-24 md:px-8 px-4 pb-48">
      <slot />
    </div>
	</body>
</html>
