---
import "../styles/theme.css";
import "../styles/global.css";
import Head from "../components/head/Head.astro";
---

<!doctype html>
<html lang="en">
  <Head />
	<body class="text-body">
    <div class="max-w-7xl mx-auto relative lg:px-24 md:px-8 px-4">
      <slot />
    </div>
	</body>
</html>
